.map-container{
  position: relative;
  width: 700px;
}

.map-image{
  width: 100%;
  display: block;
}

.marker{
  position: absolute;
  background:white;
  border: 2px solid black;
  border-radius: 20px;
  padding: 4px 8px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.layout {
  display: flex;
  gap: 24px;
}

.info-panel {
  width: 300px;
  border: 1px solid #ccc;
  padding: 16px;
}

